[user]
    name = Igor Kuzmenko
    email = igor@kuzzmi.com

[core]
    editor = "vim"

[alias]
    s = "status -s"
    c = "commit"
    d = "diff"
    cm = "commit -m"
    ca = "add -A . && git commit -m"
    pl = "pull --rebase"
    pull = "pull --rebase"
    ps = "push"
