[submodule "fish/functions/theme-pure"]
	path = fish/functions/theme-pure
	url = https://github.com/rafaelrinaldi/pure
[submodule "xmonad/xmonad-git"]
	path = xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/xmonad-contrib-git"]
	path = xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
[submodule "xmonad/xmobar-git"]
	path = xmonad/xmobar-git
	url = https://github.com/jaor/xmobar
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/custom/zsh-autosuggestions"]
	path = zsh/custom/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "xmonad/xmonad-pulsevolume"]
	path = xmonad/xmonad-pulsevolume
	url = git@github.com:kuzzmi/xmonad-pulsevolume.git
