# Exclude everything --------------------------------
*

# Except these --------------------------------------
#
!.gitignore
!.gitconfig
!LICENSE
!README.md

# i3 ------------------------------------------------
#
!.i3status.conf
!.i3/
!.i3/config

# Oh-my-zsh -----------------------------------------
#
!.zshrc

# Email ---------------------------------------------
#
!.offlineimaprc
!.offlineimap/
!.offlineimap/offlineimap.py
!.offlineimap/
!.offlineimap/postsynchook.sh
!.notmuch-config
!.mutt/
!.mutt/muttrc
!.mutt/mutt-notmuch.py
!.msmtprc
!.msmtp/
!.msmtp/Equifax_Secure_CA.cert

# Local Scripts -------------------------------------
#
!.local/
!.local/bin/
!.local/bin/export-dbus.sh
!.local/bin/touchpad
!.local/bin/run-mutt
!.local/bin/run-ncmpcpp
!.local/bin/run-rofi
!.local/bin/run-calcurse
!.local/bin/run-offlineimap.sh
!.local/bin/run-mopidy.sh
!.local/bin/i3-get-window-criteria
!.local/bin/export-dbus.sh

# Xfiles --------------------------------------------
#
!.extend.xinitrc
!.extend.Xresources
!.Xmodmap

# Config --------------------------------------------
#
!.config/
!.config/mopidy/
!.config/mopidy/mopidy.conf
!.config/mopidy/run-mopidy.sh

!.config/ncmpcpp/
!.config/ncmpcpp/config

!.config/polybar/
!.config/polybar/config

!.config/termite/
!.config/termite/config

!.config/dunst/
!.config/dunst/dunstrc

!.config/compton.conf
