# Exclude everything --------------------------------
*

# Except these
!.gitignore
!.gitconfig
!LICENSE
!README

# i3 ------------------------------------------------
!.i3status.conf
!.i3/
!.i3/config

# Email ---------------------------------------------
!.offlineimaprc
!.mutt/
!.mutt/muttrc

# Local Scripts -------------------------------------
!.local/
!.local/bin/
!.local/bin/export-dbus.sh
!.local/bin/run-offlineimap.sh
