[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/custom/zsh-autosuggestions"]
	path = zsh/custom/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "xmonad/xmonad-pulsevolume"]
	path = xmonad/xmonad-pulsevolume
	url = git@github.com:kuzzmi/xmonad-pulsevolume.git
